@model EditPlayerViewModel

@{
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Player" asp-action="Edit" method="post">
            <input asp-for="Id" type="hidden" />

            <div class="row mb-3">
                <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="ShirtNumber" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="ShirtNumber" class="form-control" />
                    <span asp-validation-for="ShirtNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Position" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="TeamId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <select name="TeamId" class="form-select">
                        @foreach (var team in Model.Teams)
                        {
                            <option value="@team.Id">@team.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Update!</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
